---
import Layout from "../layouts/Layout.astro";
import ComponentContainer from "../components/ComponentContainer";
import Tally from "../components/showcase/Tally";
import Calculator from "../components/showcase/Calculator";
---

<Layout title="A Component a Day for a Year | Components">
  <div>
    <ComponentContainer day={1} name="Tally">
      <Tally client:visible />
    </ComponentContainer>
    <ComponentContainer day={2} name="Calculator">
      <Calculator client:visible />
    </ComponentContainer>
  </div>
</Layout>
