---
import Layout from "../layouts/Layout.astro";
import ComponentContainer from "../components/ComponentContainer";
import Tally from "../components/showcase/Tally";
import Calculator from "../components/showcase/Calculator";
import AnalogClock from "../components/showcase/AnalogClock";
import WordOfTheDay from "../components/showcase/WordOfTheDay";
import Piano from "../components/showcase/Piano";
import Checklist from "../components/showcase/Checklist";
import MusicPlayer from "../components/showcase/MusicPlayer";
import Dropdown from "../components/showcase/Dropdown";
import SwipeCard from "../components/showcase/SwipeCard";
import Weather from "../components/showcase/Weather";
---

<Layout title="A Component a Day for a Year | Components">
  <div>
    <ComponentContainer name="Tally">
      <Tally client:visible />
    </ComponentContainer>
    <ComponentContainer name="Calculator">
      <Calculator client:visible />
    </ComponentContainer>
    <ComponentContainer name="Analog Clock">
      <AnalogClock client:visible />
    </ComponentContainer>
    <ComponentContainer name="Word of the Day">
      <WordOfTheDay />
    </ComponentContainer>
    <ComponentContainer name="Piano">
      <Piano client:only />
    </ComponentContainer>
    <ComponentContainer name="Checklist">
      <Checklist client:visible />
    </ComponentContainer>
    <ComponentContainer name="Music Player">
      <MusicPlayer client:visible />
    </ComponentContainer>
    <ComponentContainer name="Dropdown">
      <Dropdown />
    </ComponentContainer>
    <ComponentContainer name="Swipe Card">
      <SwipeCard client:visible />
    </ComponentContainer>
    <ComponentContainer name="Weather">
      <Weather />
    </ComponentContainer>
  </div>
</Layout>
